# Public Client-side Variables (Exposed to Browser)
NEXT_PUBLIC_GEMINI_API_KEY=

# Server-side Only Variables (Private)
GEMINI_API_KEY=
OBSIDIAN_VAULT_PATH=

DATABASE_URL=
DATABASE_URL_UNPOOLED=

POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

BLOB_READ_WRITE_TOKEN=
EDGE_CONFIG=
NEON_PROJECT_ID=
